<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="ConfigData" type="xwcs.core.cfg.ConfigData, xwcs.core, Version=1.0.0.0, Culture=neutral"/> <!--, PublicKeyToken=e3a5e224b37014d0" /> -->
    </configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>

  <ConfigData>
    <application>
      <add key="xDocWSGate" value="http://10.17.61.150:9090/3diws/services/eXtraWay"/>
      <add key="xDocAclReaderLogin" value="admin"/>
      <add key="xDocUser" value="admin"/>
      <add key="xDocPass" value="reader"/>
      <add key="xDocEncoding" value="UTF-8"/>
      <add key="xDocIndexPageSize" value="20"/>
      <add key="xDocTitlesPageSize" value="20"/>
      <add key="xDocUnSucessfullTryesCount" value="5"/>
      <add key="httpUser" value="admin"/>
      <add key="httpPwd" value="admin"/>
      <add key="localStorage" value=""/>
      <add key="docwayUrl" value="http://10.17.61.150:9090/xway/application/xdocway/engine/xdocway.jsp?verbo=queryplain&amp;query=[docnrecord]="/>
    </application>
    <db>
      <add key="ACL" value="localhost:4859:acl"/>
      <add key="MAIN" value="localhost:4859:xdocwaydoc"/>
    </db>
  </ConfigData>

</configuration>
